NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_AI_BACKEND_URL=http://127.0.0.1:8000
NEXT_PUBLIC_CORNEAL_BACKEND_URL=http://127.0.0.1:8001
NEXT_PUBLIC_AFIO_ENABLED_MODULES=oct,vkg
